<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="consoleLog" class="org.apache.log4j.ConsoleAppender">
    	<param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t] [%X{mule.host}] [%X{mule.session}] [%c{1}]: %m%n"/>
        </layout>
    </appender>  
    
    <category name="com.blogspot.jesfre.projectmavenizer" additivity="false">
		<priority value="trace" />
		<appender-ref ref="consoleLog" />
	</category>
	
	<root>
		<appender-ref ref="consoleLog"/>
    </root>

</log4j:configuration>